* {
    margin: 0;
    color: #0E0E0E;
}

body {
    /* I didn't set left-right margin to "160px" because of my device width problem. I set that value to "100px", but still if I want to see it perfectly as your provided design, I have to see it at 90% zoom in my browser. Hope I will learn the solution as soon as possible. */
    margin: 0 100px;
    background-color: #F1F1F3;
}

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* Shared Styles */
.text-sub-title{
    opacity: 70%;
}

.text-title{
    color: #0E0E0E;
    opacity: 80%;
}

.bg-color1{
    background-color: #C6E4D6;
}

.bg-color2{
    background-color: rgba(84, 144, 245, 20%);   
}

.bg-color3{
    background-color: #F7EBCF;
}

.btn-1{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight:600;
    border: none;
    border-radius: 8px;
    height: 56px;
    padding: 17px 34px;
}

.card-btn{
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: 600;
}

.news-btn{
    height:48px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;
    margin-top: 32px;
}

/* Nav-bar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 31px 0;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-btn{
    color: #006A50;
    border-radius: 8px;
    border: 2px solid #006A50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
}

/* Hero section styles */
.hero-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 24px;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.hero-content h5{
    font-size: 24px;
    font-weight: bold;
    opacity: 50%;
}

.hero-content h1{
    font-size: 56px;
    font-weight: bold;
    margin: 16px 0 24px ;
}

.hero-img{
    margin: 80px 0;
}

/* Pillars Section Styles */
.pillars{
    margin-bottom: 80px;
}

.pillars .card-img{
    margin-bottom: 24px;
}

.pillar-cards{
    display: flex;
    gap: 24px;
}

.pillar-card{
    background-color: #FFFFFF;
    padding: 48px 24px;
    border: 2px solid rgba(14, 14, 14, 15%);
    border-radius: 16px;
}

/* Vision Section Styles */
.section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.vision-cards{
    display: flex;
    gap: 24px;
    margin: 32px 0;
}

.vision-card{
    border-radius: 16px;
    padding: 32px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.card-content{
    margin: 24px 0;
}

.card-btn1{
    background-color: #5490F5;
}

.card-btn2{
    background-color: #09A15C;
}

.card-btn3{
    background-color: #FFC239;
}

/* Opinion Section Styles */
.opinion-section{
    margin-top: 80px
}
.ques-container{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: rgba(14, 14, 14, 15%);
}

.table-cap{
    display: flex;
    justify-content: space-between;
}

th, td{
    padding: 24px;
}

td{
    color: #0E0E0E;
    font-weight: 600;
}

.dropdown{
    color: #0E0E0E;
    font-weight: 600;
    height: 44px;
    border-radius: 4px;
    text-align: center;
    padding: 12.5px 16px 12.5px 16.5px;
}

.col-2{
    width: 170px;
}

/* News Section Styles */
.news{
    margin: 80px 0;
}

.news-cards{
    margin-top: 32px;
}

.news-card-title{
    font-size: 32px;
    font-weight: bold;
    opacity: 80%;
    margin-bottom: 12px;
}

.news-card{
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 24px;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
}

.news-card-img{
    border-radius: 24px;
}

.news-date-time{
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

/* Donate section styles */
.donate{
    padding: 0 80px;
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 32px 0;
}

.amount-card{
    padding: 40px;
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 15%);
    border-radius: 16px;
}

.input-field{
    display: block;
    height: 64px;
    width: 93%;
    border: none;
    border-bottom: 2px solid rgba(14, 14, 14, 15%);
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 30%);
}

/* Speech section styles */
.speech-container{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
}

.speech-container .card-title{
    margin: 12px 0 4px;
}

.speech{
    opacity: 80%;
}

/* Newsletter styles */
.newsletter{
    border-radius: 24px;
    padding: 80px 265px;
    margin: 80px 0;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    height: 56px;
    width: 100%;
    margin: 24px 0;
}

.email{
    display: inline-block;
    width: 100%;
    padding: 18px 0 18px 40px;
    font-size: 16px;
    color: rgba(14, 14, 14, 30%);
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.subscribe-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Hover effect styles */
button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
}

.amount-card:hover{
    cursor: pointer;
    background: #C6E4D6;
    box-shadow: 0 0 15px rgba(155, 155, 170, 0.7);
}

/* Footer Section Styles */
footer .nav-title{
    margin-top: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-left: -100px;
    margin-right: -100px;
}

footer hr{
    border: none;
    height: 1.5px;
    background-color: rgba(14, 14, 14, 10%);
    width: 75%;
    margin: 32px 0;
}

.social-container{
    margin-bottom: 50px;
    display: flex;
    gap: 23px;
}
