* {
    margin: 0;
    color: #0E0E0E;
}

body {
    margin: 0 160px;
}

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* Shared Styles */
.text-color{
    /* color: #0E0E0E; */
}

.text-title{
    color: #0E0E0E;
    opacity: 80%;
}

.bg-color1{
    background-color: #C6E4D6;
}

.btn-1{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight:600;
    border: none;
    border-radius: 8px;
    height: 56px;
    padding: 17px 34px;
}

/* Hero section styles */
.hero-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 24px;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.hero-content{

}

.hero-content h5{
    font-size: 24px;
    font-weight: bold;
    opacity: 50%;
}

.hero-content h1{
    font-size: 56px;
    font-weight: bold;
    margin: 16px 0 24px ;
}

.hero-img{
    margin: 80px 0;
}