* {
    margin: 0;
    color: #0E0E0E;
}

body {
    margin: 0 85px;
    /* width: 90vw; */
    background-color: #F1F1F3;
}

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* Shared Styles */
.text-sub-title{
    opacity: 70%;
}

.text-title{
    color: #0E0E0E;
    opacity: 80%;
}

.bg-color1{
    background-color: #C6E4D6;
}

.bg-color2{
    background-color: rgba(84, 144, 245, 20%);   
}

.bg-color3{
    background-color: #F7EBCF;
}

.btn-1{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight:600;
    border: none;
    border-radius: 8px;
    height: 56px;
    padding: 17px 34px;
}

.card-btn{
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: 600;
}

.news-btn{
    height:48px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;
    margin-top: 32px;
}

/* Hero section styles */
.hero-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 24px;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.hero-content h5{
    font-size: 24px;
    font-weight: bold;
    opacity: 50%;
}

.hero-content h1{
    font-size: 56px;
    font-weight: bold;
    margin: 16px 0 24px ;
}

.hero-img{
    margin: 80px 0;
}

/* Vision Section Styles */
.vision-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.vision-cards{
    display: flex;
    gap: 24px;
    margin: 32px 0;
}

.vision-card{
    border-radius: 16px;
    padding: 32px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.card-content{
    margin: 24px 0;
}

.card-btn1{
    background-color: #5490F5;
}

.card-btn2{
    background-color: #09A15C;
}

.card-btn3{
    background-color: #FFC239;
}

/* News Section Styles */
.news{
    margin: 80px 0;
}

.news-cards{
    margin-top: 32px;
}

.news-card-title{
    font-size: 32px;
    font-weight: bold;
    opacity: 80%;
    margin-bottom: 12px;
}

.news-card{
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 24px;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
}

.news-card-img{
    border-radius: 24px;
}

.news-date-time{
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

/* Donate section styles */
.donate{
    padding: 0 80px;
    text-align: center;
    margin-bottom: 80px;
}

.amount{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 32px 0;
}

.amount-card{
    /* height: 128px; */
    padding: 40px;
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 15%);
    border-radius: 16px;
}

.input-field{
    display: block;
    height: 64px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(14, 14, 14, 15%);
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 30%);
}

/* Hover effect styles */
button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
}

.amount-card:hover{
    cursor: pointer;
    background: #C6E4D6;
    box-shadow: 0 0 15px rgba(155, 155, 170, 0.7);
}